[*.js]
indent_style = space;
indent_size = 2;
continuation_indent_size = 2;
insert_final_newline = true;
quote_type = single;
space_after_anonymous_functions = true;
space_after_control_statements = true;
spaces_around_operators = true;
trim_trailing_whitespace = true;
spaces_in_brackets = false;
curly_bracket_next_line = true;
indent_brace_style = 1TBS;
end_of_line = lf;
charset = utf-8;
