# Exports for git archive
/test export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.eslintrc.json export-ignore
.jshintignore export-ignore
.jshintrc export-ignore
.travis.yml export-ignore
.appveyor.yml export-ignore
bower.json
Gruntfile.js export-ignore
performance.* export-ignore

# Line endings control
CHANGELOG.md text
CONTRIBUTING.md text
CREDITS.md text
license.txt text

# Force LF on js files
*.js text eol=lf

# Force binary mode on bin dir and dist fir
bin/* binary
dist/* binary
